<h1>Standalone Named Outlet Example</h1>

<nav>
    <!-- Link to open Home + Chat sidebar -->
<!--    <a [routerLink]="[{ outlets: { primary: '', sidebar: ['chat'] } }]">Open Chat Sidebar</a> |  this-Doesn't-work-->
    <a [routerLink]="['/', { outlets: { sidebar: ['chat'] } }]">Open Chat Sidebar</a> |
<!--    <a [routerLink]="[{ outlets: { sidebar: ['chat'] } }]">Open Chat Sidebar</a>   |-->
    <!-- Close Chat -->
    <a [routerLink]="[{ outlets: { sidebar: null } }]">Close Chat Sidebar</a>
</nav>

<main>
    <!-- Primary outlet -->
    <router-outlet></router-outlet>

    <!-- Named outlet -->
    <router-outlet name="sidebar"></router-outlet>
</main>
